*{
    padding: 0;
    margin: 0;
}

.nav{
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 15px -10px black;
}

.navItems{
    margin-left: auto;
    margin-right: 2%;
    display: flex;
}

.navItems a {
    color: black;
    padding: 5px;
    text-decoration-line: none;
}

.logo{
    width: 25px;
    height: 25px;
    background-color: black;
    margin-left: 2%;
    border-radius: 30%;
}

.menu{
    width: 25px;
    height: 25px;
    background-color: gray;
    margin-left: 2%;
    border-radius: 30%;
}

@media (max-width: 600px) {
    .nav a{display: none;}
    
}

@media (min-width: 600px) {
    .menu {display: none;}
}

.SlideShow {
    background-color: lightgray;
    height: 500px;
}

footer{
    box-shadow: 0 1px 15px -10px black;
    height: 150px;
}